#snacks {
    margin-bottom: 30px;
}

h1 {
    color: rgb(95, 95, 95);
    text-align: center;
    margin-top: 30px;
}

h2 {
    color:rgb(255, 106, 0);
    text-align: center;
    font-style: italic;
}

button {
    color:white;
    background-color: rgb(255, 106, 0)
}

#carrito img {
    height: 400px;
}

#carrito button:hover {
    background-color:rgb(255, 106, 0);
    border-color:rgb(255, 106, 0);
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}