#nosotras{
    color: white; 
    text-align: right;
    margin: 1em;}

#nosotras h2{
    color:rgb(251, 179, 135)}


.color1{
    background-color:rgb(255, 106, 0)
}

#ipa {
    padding-top: 30px;
    padding-bottom: 30px;
}
   